#contact {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  .contactUs{
    input {
      padding: 10px;
      margin:10px 0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
      border: 2px solid #eee;
      border-radius:10px;
      width:30%
    }
    textarea{
      padding: 10px;
      margin:10px 0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
      border: 2px solid #eee;
      border-radius:10px;
      width:30%
    }
  }

  .contactusButton {
    color: $white-color;
    background: transparent;
    border: 2px solid $white-color;
    &::after {
      background: $white-color;
    }
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
      background: white;
  
      &::after {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 770px) {
    .contactUs{
      input {
        width:75%
      }
      textarea {
        width: 75%
      }
    }
  }
}